
nav{
    font-family: helvetica;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}

nav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

nav ul li .active {
    background-color: #4CAF50;
    color: white;
}

.homeinfo {
    text-align: center;
        margin: 0em 1em;
    padding:.75em;
}

a:link {
    text-decoration: none;
}

#nav li{
    text-align: center;
    padding: 10px;
    margin: 4px;
    font-size: large;
}

#nav {   
    text-align: center;
    float: center;
}

#header img {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
} 

body.eye a.eye{
    display:block;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    background:#00aeed
}

.eye:active{
    color:#ccc;
    text-decoration:
    none;background:#333}

body.ear a.ear{
    display:block;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    background:#ff68ff
}

.ear:active{
    color:#ccc;
    text-decoration:
    none;background:#333}


body.mouth a.mouth{
    display:block;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    background:#b20000
}

.mouth:active{
    color:#ccc;
    text-decoration:
    none;background:#333}

body.eye {
    background-image: url("http://static.tumblr.com/93f0bd40b8325d2d2adf5ef5b67ba984/oadnd1o/GWBnnqajd/tumblr_static_83y42i7l4og8ckcks0o08kksk.gif");
}

.ear:body{
    background-image: url("img/record.gif");
}

.mouth:body{
    background-image: url("img/fire.gif");
}

@media screen and (min-width: 600px) {
    h1:after{
        content: "  (I guess...)";
    }
}}

/*Brandon Patterson*/